################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GUI/GUI_Prototype/bin/Debug/temp/2643987460
/GUI/GUI_Prototype/bin/Debug
/GUI/GUI_Prototype/obj/Debug/Styles
/GUI/.vs/GUI_Prototype/v15/Server/sqlite3
/GUI/.vs/GUI_Prototype/v15
/GUI/GUI_Prototype/obj/Debug
